
  header {
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    height: 300px;
    position: relative;
}

header img {
    position: relative;
    height: 300px;
}

header>h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 200px;
    left: 20px;
    font-family: Calibri;
}

header>h3 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 235px;
    left: 20px;
    font-family: Calibri;
}
div .menu {
  width: 100%;
  position: relative;
}

nav {
  width: 100%;
  height: 40px;
  position: absolute;
  background-color: rgb(67, 64, 106);
  font-family: Arial, Helvetica, sans-serif;

}

nav>ul>li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}

nav>ul>li>a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

nav>ul>li>a:hover {
  color: orangered;
}
footer {
  background-color: silver;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 10px;
  text-align: left;
  position: relative;
  color: azure;
}
footer>hr{
  border: 1px solid white;
}
footer img{
  position: absolute;
  width: 50px;
  height: 50px;
}
footer a img:hover{
  color: red;
}
footer .fb{
  margin-left: 50px;
  margin-top: 13px;
  border-radius: 7px;
  width: 25px;
  height: 25px;
}
footer .ytb{
  margin-left: 90px;
  margin-top: 12px;
  border-radius: 7px;
  width: 30px;
  height: 30px;
}
footer{
}
